/*font-family: 'Raleway', sans-serif;*/

*{
	font-family: 'Montserrat', sans-serif;
	
}
body{
	margin:0;
	padding: 0;
}
header{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
	background: none;
	/*background:	-webkit-linear-gradient(left, rgba(75, 34, 120,0) 0%, rgba(75, 34, 120,0.9) 30%, rgba(75, 34, 120,1) 90%, rgba(75, 34, 120,1) 100%);
	background:	-o-linear-gradient(left, rgba(75, 34, 120,0) 0%, rgba(75, 34, 120,0.9) 30%, rgba(75, 34, 120,1) 90%, rgba(75, 34, 120,1) 100%);
	background:	linear-gradient(to right, rgba(75, 34, 120,0) 0%, rgba(75, 34, 120,0.9) 30%, rgba(75, 34, 120,1) 90%, rgba(75, 34, 120,1) 100%);;
*/}
.run{
	background: #FFF;
	color:#000;
}

#img-pink,#img-white{
	width: 5%;
	height: 5%
	margin: 10px;
	margin-left: 80px;
	padding: 25px;
	margin-top: 
}
nav{
	position: absolute;
	top: 20px;
}
ul{
	margin-left: 750px;
	}
li{
	float: left;
	list-style: none;
}
a{
	margin: 10px;
	padding: 10px;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
}
nav > div{
	margin-left: 1090px;
}
div > a{
	border: 1px solid white;
	border-radius:  15px;
	padding: 10px 10px;
}
/*div > a:nth-child(2){*/
.sign-up{
	color: #D50D9F;
	border-color: #D50D9F;

}
/*REGISTRO*/
aside{
	position: relative;
	left: 800px;
	/*margin-left: 850px;*/
	background: #fff;
	/*width: 500px;*/
	padding: 60px;
	color: #352384;
	display: inline-block;

}
#registro{
	background: rgba(41, 38, 62,1);
	background:linear-gradient(rgba(75,34,120,1) 0%, rgba(75,34,120,0.5) 100%);
	
}
#container{	
	position: relative;
	background-image: url("../img/fondo.png");
	background-size: 130% 130%;
	background-repeat: no-repeat;
	background-position: -300px 35%;
	padding-top: 100px;

	
}
h1{
	font-size: 40px;
	margin: 0;
}
h6{
	font-size: 15px;
	font-weight: 300;
	padding: 0;
	margin:0;
	margin-bottom: 10px;
}
/*FORMULARIO*/
input{
	border: none;
	border-bottom: 1px solid #352384;
	color: #352384;
	margin: 10px 0;
	width: 100%;

}
input::placeholder{
	color: #728099;

}
form{
	width: 445px;
}

.middle{
	width: 45%;
}
.right{
	margin-left: 40px;
	color: #728099;
	font-size: 13px;
}
button{
	background: #FF00BF;
	color: #fff;
	border: none;
	padding: 20px;
	border-radius: 5px;
	font-size: 15px;
	margin-top: 20px;
}
span:nth-child(6){
	color: #728099;
	margin-left: 10px;
}
.condi{
	font-size: 10px;
	color: #728099;
	margin: 5px;
	padding: 5px 0;
}
/*SECTION 2*/
#second{
	position: relative;
	background:linear-gradient(#76272F,#2B1E66);
}
.section-two{
	color: #fff;
	margin-left: 150px;
	padding: 40px;
	padding-top: 80px;
	width: 500px;
}
.phone{
	position: absolute;
	top: 50px;
	left: 50%;
	width: 40%;
	height: 100%;
}
h2{
	font-size: 25px;
	font-weight: 400;

}
/*SECTION 3*/
h5{
	font-size: 18px;
}
h3{
	font-size: 25px;
	font-weight: 500;
}
.section{
	width: 350px;
}
.third{
	position: relative;
}
.section-three{
	margin:40px;
	padding:40px;
	position: relative;
}
.video1{
	position: absolute;
	top: 0;
	right: 0;
}
/*.video2{
	position: absolute;
	top: 0;
	left: 0;
}*/
.box4{
	position: absolute;
	top: 0;
	right: 0;
}
.video3{
	position: absolute;
	top: 0;
	right: 0;
}
/*FOOTER*/
footer{
	background: #333447;
	position: relative;
}
.foot{
	margin-left: 120px;
	/*display: inline-block;*/
}
h4{
	color: white;
	margin-left: 20px;
	margin-top: 40px;
}
.foot-two{
	/*margin-bottom: 100px;*/
	position: absolute;
	top: 0;
	left:250px;
}
.foot-three{
	position: absolute;
	top: 0;
	left: 500px;
}
.foot > a{
	display: block;
	border: none;
	color: #fff;
}
.foot > a:hover{
	color: #D50D9F;
	text-decoration: underline;
}
.foot-right{
	display: inline-block;
}
.box2{
	/*margin-left: 120px;*/
	position: absolute;
	top: 50px;
	right: 220px;
}
.foot-img{
	width: 150px;
	height: 50px;
	display: block;
	margin: 20px;
}
/*SOCIAL*/
.social{
	width: 1200px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
	padding:40px;
	/*padding-bottom: 40px;*/
}
.icon-bord{
	border:1px solid #fff;
	border-radius: 50%;
	display: inline-block;
	padding: 15px;
	width: 15px;
	height: 15px;
	margin: 30px;
}
hr{
	width: 70%;
};